<a href="https://colab.research.google.com/github/CynF19/DS-ENAE-Module01/blob/main/Modulo_1_ENAE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello word")
for i in range(1,74,1):
  print(f"hello word {i}")

hello word
hello word 1
hello word 2
hello word 3
hello word 4
hello word 5
hello word 6
hello word 7
hello word 8
hello word 9
hello word 10
hello word 11
hello word 12
hello word 13
hello word 14
hello word 15
hello word 16
hello word 17
hello word 18
hello word 19
hello word 20
hello word 21
hello word 22
hello word 23
hello word 24
hello word 25
hello word 26
hello word 27
hello word 28
hello word 29
hello word 30
hello word 31
hello word 32
hello word 33
hello word 34
hello word 35
hello word 36
hello word 37
hello word 38
hello word 39
hello word 40
hello word 41
hello word 42
hello word 43
hello word 44
hello word 45
hello word 46
hello word 47
hello word 48
hello word 49
hello word 50
hello word 51
hello word 52
hello word 53
hello word 54
hello word 55
hello word 56
hello word 57
hello word 58
hello word 59
hello word 60
hello word 61
hello word 62
hello word 63
hello word 64
hello word 65
hello word 66
hello word 67
hello word 68
hello word 69
hello word 70
hello word 71
hello word 72
hello word 73

In [ ]:
x = 0 
while x <73:
  x+=1
  print ("hello word")

hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word

In [ ]:
Fibonacci=[1,1,2,3,5,8,13,21,34,55,89,55+89,144+89]
Fibonacci
a=1
b=1
resultado = [1,1] 
for el_que_recorre in range (1,72):
  c = a + b
  a = b
  b = c
  resultado.append(c)
print(c)
print(resultado)

806515533049393
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393]

In [ ]:
import numpy as np
x= np.linspace (0,4,201)
print (x)

[0.   0.02 0.04 0.06 0.08 0.1  0.12 0.14 0.16 0.18 0.2  0.22 0.24 0.26
 0.28 0.3  0.32 0.34 0.36 0.38 0.4  0.42 0.44 0.46 0.48 0.5  0.52 0.54
 0.56 0.58 0.6  0.62 0.64 0.66 0.68 0.7  0.72 0.74 0.76 0.78 0.8  0.82
 0.84 0.86 0.88 0.9  0.92 0.94 0.96 0.98 1.   1.02 1.04 1.06 1.08 1.1
 1.12 1.14 1.16 1.18 1.2  1.22 1.24 1.26 1.28 1.3  1.32 1.34 1.36 1.38
 1.4  1.42 1.44 1.46 1.48 1.5  1.52 1.54 1.56 1.58 1.6  1.62 1.64 1.66
 1.68 1.7  1.72 1.74 1.76 1.78 1.8  1.82 1.84 1.86 1.88 1.9  1.92 1.94
 1.96 1.98 2.   2.02 2.04 2.06 2.08 2.1  2.12 2.14 2.16 2.18 2.2  2.22
 2.24 2.26 2.28 2.3  2.32 2.34 2.36 2.38 2.4  2.42 2.44 2.46 2.48 2.5
 2.52 2.54 2.56 2.58 2.6  2.62 2.64 2.66 2.68 2.7  2.72 2.74 2.76 2.78
 2.8  2.82 2.84 2.86 2.88 2.9  2.92 2.94 2.96 2.98 3.   3.02 3.04 3.06
 3.08 3.1  3.12 3.14 3.16 3.18 3.2  3.22 3.24 3.26 3.28 3.3  3.32 3.34
 3.36 3.38 3.4  3.42 3.44 3.46 3.48 3.5  3.52 3.54 3.56 3.58 3.6  3.62
 3.64 3.66 3.68 3.7  3.72 3.74 3.76 3.78 3.8  3.82 3.84 3.86 3.88 3.9
 3.92 3.94 3.96 3.98 4.  ]

In [ ]:
import numpy as np
x= np.linspace (0,4,100)
print (x)

[0.         0.04040404 0.08080808 0.12121212 0.16161616 0.2020202
 0.24242424 0.28282828 0.32323232 0.36363636 0.4040404  0.44444444
 0.48484848 0.52525253 0.56565657 0.60606061 0.64646465 0.68686869
 0.72727273 0.76767677 0.80808081 0.84848485 0.88888889 0.92929293
 0.96969697 1.01010101 1.05050505 1.09090909 1.13131313 1.17171717
 1.21212121 1.25252525 1.29292929 1.33333333 1.37373737 1.41414141
 1.45454545 1.49494949 1.53535354 1.57575758 1.61616162 1.65656566
 1.6969697  1.73737374 1.77777778 1.81818182 1.85858586 1.8989899
 1.93939394 1.97979798 2.02020202 2.06060606 2.1010101  2.14141414
 2.18181818 2.22222222 2.26262626 2.3030303  2.34343434 2.38383838
 2.42424242 2.46464646 2.50505051 2.54545455 2.58585859 2.62626263
 2.66666667 2.70707071 2.74747475 2.78787879 2.82828283 2.86868687
 2.90909091 2.94949495 2.98989899 3.03030303 3.07070707 3.11111111
 3.15151515 3.19191919 3.23232323 3.27272727 3.31313131 3.35353535
 3.39393939 3.43434343 3.47474747 3.51515152 3.55555556 3.5959596
 3.63636364 3.67676768 3.71717172 3.75757576 3.7979798  3.83838384
 3.87878788 3.91919192 3.95959596 4.        ]

In [ ]:
from numpy import linspace
x = linspace (0,4,201)
print (x)

[0.   0.02 0.04 0.06 0.08 0.1  0.12 0.14 0.16 0.18 0.2  0.22 0.24 0.26
 0.28 0.3  0.32 0.34 0.36 0.38 0.4  0.42 0.44 0.46 0.48 0.5  0.52 0.54
 0.56 0.58 0.6  0.62 0.64 0.66 0.68 0.7  0.72 0.74 0.76 0.78 0.8  0.82
 0.84 0.86 0.88 0.9  0.92 0.94 0.96 0.98 1.   1.02 1.04 1.06 1.08 1.1
 1.12 1.14 1.16 1.18 1.2  1.22 1.24 1.26 1.28 1.3  1.32 1.34 1.36 1.38
 1.4  1.42 1.44 1.46 1.48 1.5  1.52 1.54 1.56 1.58 1.6  1.62 1.64 1.66
 1.68 1.7  1.72 1.74 1.76 1.78 1.8  1.82 1.84 1.86 1.88 1.9  1.92 1.94
 1.96 1.98 2.   2.02 2.04 2.06 2.08 2.1  2.12 2.14 2.16 2.18 2.2  2.22
 2.24 2.26 2.28 2.3  2.32 2.34 2.36 2.38 2.4  2.42 2.44 2.46 2.48 2.5
 2.52 2.54 2.56 2.58 2.6  2.62 2.64 2.66 2.68 2.7  2.72 2.74 2.76 2.78
 2.8  2.82 2.84 2.86 2.88 2.9  2.92 2.94 2.96 2.98 3.   3.02 3.04 3.06
 3.08 3.1  3.12 3.14 3.16 3.18 3.2  3.22 3.24 3.26 3.28 3.3  3.32 3.34
 3.36 3.38 3.4  3.42 3.44 3.46 3.48 3.5  3.52 3.54 3.56 3.58 3.6  3.62
 3.64 3.66 3.68 3.7  3.72 3.74 3.76 3.78 3.8  3.82 3.84 3.86 3.88 3.9
 3.92 3.94 3.96 3.98 4.  ]

In [ ]:
from numpy import linspace
from pandas import DataFrame
diccionario = {
    "T": linspace (0,4,201),
}
print (diccionario)

{'T': array([0.  , 0.02, 0.04, 0.06, 0.08, 0.1 , 0.12, 0.14, 0.16, 0.18, 0.2 ,
       0.22, 0.24, 0.26, 0.28, 0.3 , 0.32, 0.34, 0.36, 0.38, 0.4 , 0.42,
       0.44, 0.46, 0.48, 0.5 , 0.52, 0.54, 0.56, 0.58, 0.6 , 0.62, 0.64,
       0.66, 0.68, 0.7 , 0.72, 0.74, 0.76, 0.78, 0.8 , 0.82, 0.84, 0.86,
       0.88, 0.9 , 0.92, 0.94, 0.96, 0.98, 1.  , 1.02, 1.04, 1.06, 1.08,
       1.1 , 1.12, 1.14, 1.16, 1.18, 1.2 , 1.22, 1.24, 1.26, 1.28, 1.3 ,
       1.32, 1.34, 1.36, 1.38, 1.4 , 1.42, 1.44, 1.46, 1.48, 1.5 , 1.52,
       1.54, 1.56, 1.58, 1.6 , 1.62, 1.64, 1.66, 1.68, 1.7 , 1.72, 1.74,
       1.76, 1.78, 1.8 , 1.82, 1.84, 1.86, 1.88, 1.9 , 1.92, 1.94, 1.96,
       1.98, 2.  , 2.02, 2.04, 2.06, 2.08, 2.1 , 2.12, 2.14, 2.16, 2.18,
       2.2 , 2.22, 2.24, 2.26, 2.28, 2.3 , 2.32, 2.34, 2.36, 2.38, 2.4 ,
       2.42, 2.44, 2.46, 2.48, 2.5 , 2.52, 2.54, 2.56, 2.58, 2.6 , 2.62,
       2.64, 2.66, 2.68, 2.7 , 2.72, 2.74, 2.76, 2.78, 2.8 , 2.82, 2.84,
       2.86, 2.88, 2.9 , 2.92, 2.94, 2.96, 2.98, 3.  , 3.02, 3.04, 3.06,
       3.08, 3.1 , 3.12, 3.14, 3.16, 3.18, 3.2 , 3.22, 3.24, 3.26, 3.28,
       3.3 , 3.32, 3.34, 3.36, 3.38, 3.4 , 3.42, 3.44, 3.46, 3.48, 3.5 ,
       3.52, 3.54, 3.56, 3.58, 3.6 , 3.62, 3.64, 3.66, 3.68, 3.7 , 3.72,
       3.74, 3.76, 3.78, 3.8 , 3.82, 3.84, 3.86, 3.88, 3.9 , 3.92, 3.94,
       3.96, 3.98, 4.  ])}

In [ ]:
import pandas as pd
import numpy as np
col1 = np.linspace (0,4,201)
df = pd.DataFrame (col1, columns =["t"])
df["s"] = df["t"].apply(np.sin)
print (df)

        t         s
0    0.00  0.000000
1    0.02  0.019999
2    0.04  0.039989
3    0.06  0.059964
4    0.08  0.079915
..    ...       ...
196  3.92 -0.702146
197  3.94 -0.716246
198  3.96 -0.730058
199  3.98 -0.743579
200  4.00 -0.756802

[201 rows x 2 columns]

In [ ]:
df["s10"] = df ["s"].shift(10)
print(df.head(10))

      t         s  s10
0  0.00  0.000000  NaN
1  0.02  0.019999  NaN
2  0.04  0.039989  NaN
3  0.06  0.059964  NaN
4  0.08  0.079915  NaN
5  0.10  0.099833  NaN
6  0.12  0.119712  NaN
7  0.14  0.139543  NaN
8  0.16  0.159318  NaN
9  0.18  0.179030  NaN

In [ ]:
df["d"] = df["s"] - df["s10"]
print (df)

        t         s       s10         d
0    0.00  0.000000       NaN       NaN
1    0.02  0.019999       NaN       NaN
2    0.04  0.039989       NaN       NaN
3    0.06  0.059964       NaN       NaN
4    0.08  0.079915       NaN       NaN
..    ...       ...       ...       ...
196  3.92 -0.702146 -0.546691 -0.155455
197  3.94 -0.716246 -0.563327 -0.152918
198  3.96 -0.730058 -0.579738 -0.150320
199  3.98 -0.743579 -0.595917 -0.147662
200  4.00 -0.756802 -0.611858 -0.144945

[201 rows x 4 columns]

In [ ]:
def is_positive(x):
  if x>0:
    return 1
  else:
      return 0
df ["p"] = df["d"].apply(lambda x: is_positive(x))
df

        t         s       s10         d  p
0    0.00  0.000000       NaN       NaN  0
1    0.02  0.019999       NaN       NaN  0
2    0.04  0.039989       NaN       NaN  0
3    0.06  0.059964       NaN       NaN  0
4    0.08  0.079915       NaN       NaN  0
..    ...       ...       ...       ... ..
196  3.92 -0.702146 -0.546691 -0.155455  0
197  3.94 -0.716246 -0.563327 -0.152918  0
198  3.96 -0.730058 -0.579738 -0.150320  0
199  3.98 -0.743579 -0.595917 -0.147662  0
200  4.00 -0.756802 -0.611858 -0.144945  0

[201 rows x 5 columns]

In [ ]:
df

        t         s       s10         d  p
0    0.00  0.000000       NaN       NaN  0
1    0.02  0.019999       NaN       NaN  0
2    0.04  0.039989       NaN       NaN  0
3    0.06  0.059964       NaN       NaN  0
4    0.08  0.079915       NaN       NaN  0
..    ...       ...       ...       ... ..
196  3.92 -0.702146 -0.546691 -0.155455  0
197  3.94 -0.716246 -0.563327 -0.152918  0
198  3.96 -0.730058 -0.579738 -0.150320  0
199  3.98 -0.743579 -0.595917 -0.147662  0
200  4.00 -0.756802 -0.611858 -0.144945  0

[201 rows x 5 columns]

In [ ]:
df["m"] = df.groupby("p")["d"].transform("mean")
print (df)

        t         s       s10         d  p         m
0    0.00  0.000000       NaN       NaN  0 -0.144632
1    0.02  0.019999       NaN       NaN  0 -0.144632
2    0.04  0.039989       NaN       NaN  0 -0.144632
3    0.06  0.059964       NaN       NaN  0 -0.144632
4    0.08  0.079915       NaN       NaN  0 -0.144632
..    ...       ...       ...       ... ..       ...
196  3.92 -0.702146 -0.546691 -0.155455  0 -0.144632
197  3.94 -0.716246 -0.563327 -0.152918  0 -0.144632
198  3.96 -0.730058 -0.579738 -0.150320  0 -0.144632
199  3.98 -0.743579 -0.595917 -0.147662  0 -0.144632
200  4.00 -0.756802 -0.611858 -0.144945  0 -0.144632

[201 rows x 6 columns]

In [ ]:
result = False
i = 73
for x in range (2,i):
  if i%x ==0:
      result= False 
      break
if i == x + 1:
  result = True
print (result)

True

In [ ]:
i = 73
for x in range (2,i):
  if i%x ==0:
      result= False 
      break
if i == x + 1:
  result = True
print (result)

True

In [ ]:
def is_prime(i):
  for x in range (2,i):
    if i%x ==0:
        result= False 
        break
  if i == x + 1:
    result = True
  return (result)
is_prime(5)

True

In [ ]:
contador = 0
last_prime = 1
next_number = last_prime + 1
while contador<10:
  next_number = next_number + 1
  if is_prime (next_number):
    contador = contador + 1
    last_prime = next_number
    print (last_prime)

3
5
7
11
13
17
19
23
29
31

In [ ]:
contador = 0
last_prime = 1
next_number = 2
while contador<10:
  next_number = next_number + 1
  if is_prime (next_number):
    contador = contador + 1
    last_prime = next_number
    print (last_prime)

3
5
7
11
13
17
19
23
29
31

In [ ]:
contador = 0
last_prime = 1
next_number = 2
print (2)
while contador<73:
  next_number = next_number + 1
  if is_prime (next_number):
    contador = contador + 1
    last_prime = next_number
    print (last_prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373

In [ ]:
df

        t         s       s10         d  p         m
0    0.00  0.000000       NaN       NaN  0 -0.144632
1    0.02  0.019999       NaN       NaN  0 -0.144632
2    0.04  0.039989       NaN       NaN  0 -0.144632
3    0.06  0.059964       NaN       NaN  0 -0.144632
4    0.08  0.079915       NaN       NaN  0 -0.144632
..    ...       ...       ...       ... ..       ...
196  3.92 -0.702146 -0.546691 -0.155455  0 -0.144632
197  3.94 -0.716246 -0.563327 -0.152918  0 -0.144632
198  3.96 -0.730058 -0.579738 -0.150320  0 -0.144632
199  3.98 -0.743579 -0.595917 -0.147662  0 -0.144632
200  4.00 -0.756802 -0.611858 -0.144945  0 -0.144632

[201 rows x 6 columns]

In [ ]:
contador = 0
last_prime = 1
last_no_prime=2
next_number = last_prime+1
lista_no_primos=[]
while contador<20:
  next_number = next_number+1
  if is_prime (next_number):
    contador = contador+1
    last_prime = next_number
  else:
    contador=contador+1
    last_no_prime=next_number
    print (last_no_prime)

4
6
8
9
10
12
14
15
16
18
20
21
22